.button {
  display: block;
  width: fit-content;
  margin: 1.55rem 0 0 0;
  padding: 0.8rem 1.8rem;

  font-size: 0.92rem;
  font-weight: 400;
  color: var(--primary);
  background: var(--accent1);
  border-radius: 10rem;
  text-decoration: none;
}