.contact {
  display: grid;
  grid-template-columns: 38% 50%;
  justify-content: space-between;

  padding: 7.8rem var(--padding) 0 var(--padding);

  h4 {
    color: #8a8c8b;
    font-weight: 400;
    font-size: 0.99rem;
  }

  h2 {
    margin: 0.95rem 0 0 0;

    color: #2A303F;
    font-weight: 600;
    font-size: 2.34rem;
    line-height: 127%;
    letter-spacing: var(--letter-3);
  }

  p {
    margin: 2.3rem 0 0 0;
    
    font-size: 1.11rem;
    font-weight: 300;
    color: var(--text);
    letter-spacing: var(--letter-3);
    line-height: 184%;
  }
}

.imgCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 13rem 0 0 0;
}

.img {
  max-width: 79rem;
  width: 95%;
  height: 29.5rem;
  position: relative;

  img {
    border-radius: 5rem;
    border-bottom-left-radius: 0;
    object-fit: cover;
  }
}