.bottom {
  display: grid;
  grid-template-columns: 46.75% 49%;
  justify-content: space-between;

  padding: 4rem 0 0 0;

  p {
    margin: 1.45rem 5% 0 0;
    
    font-size: 1.02rem;
    font-weight: 300;
    color: var(--text);
    letter-spacing: var(--letter-3);
    line-height: 189%;
  }
}

// Image
.imgCont1 {
  width: 30.4rem;
  height: 24.5rem;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 0.81rem;
    border-bottom-left-radius: 0;
  }
}

.content {
  padding: 0.6rem 0 0 0;
}



// Mobile
@media all and (max-width: 1024px) {
  .bottom {
    display: flex;
    flex-direction: column;

    padding: 4.2rem 0 0 0;
  
    p {
      margin: 1.9rem 5% 0 0;
      
      font-size: 1.02rem;
      font-weight: 300;
      color: var(--text);
      letter-spacing: var(--letter-3);
      line-height: 189%;
    }
  }
  
  // Image
  .imgCont1 {
    order: 1;
    width: 100%;
    height: 33vh;
    position: relative;
  
    img {
      object-fit: cover;
      border-radius: 0.81rem;
      border-bottom-left-radius: 0;
    }
  }
  
  .content {
    order: 2;
    padding: 0.6rem 0 0 0;
  }

}




// Tablet
@media (min-width: 700px) and (max-width: 1024px) {
  .imgCont1 {
    aspect-ratio: 606/445;
    height: auto;
  }
  
}
