.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 var(--padding);
  height: 5.4rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

// Brand section
.brand {
  display: flex;
  align-items: center;

  .mail {
    margin: 0.3rem 0 0 1.3rem;

    font-size: 0.75rem;
    font-weight: 300;
    color: var(--text);
    text-decoration: none;
  }
}

// Navigation section
.navigation {
  ul {
    display: flex;
  }

  li {
    padding: 0 1.13rem;

    font-size: 0.87rem;
    font-weight: 400;
    list-style-type: none;
    
    a {
      color: var(--nav-links);
      text-decoration: none;
      transition: var(--transition);
    }

    &:hover a {
      color: var(--nav-links-hover);
    }

    &:last-child {
      padding: 0 0 0 1.13rem;
    }
  }
}